/* 
primary:#007bff
dark:#343a40
lightgrey: #6c757d;
verde success: #28a745
azul oscuro:#141d26
danger: #dc3545
vh-vw viewport height, width, % de la pantalla que quiero usar
margin en % es sobre el tamaño de la caja que lo contiene
si hay dif div no podria aplicar el el mismo margen a todos
id en html: puedo acceder desde js como window.#ID para add att
*/
*{
    margin:0; /* defino margin y padding cero para quitar los default*/
    padding: 0; 
    box-sizing: border-box; /* cajas de x tamaño incluido margin y padding*/
    clear: both;/* con esto limpio los flotados*/

}
body{
    font-size: 20px;
    font-family: "poppins",Helvetica;
    background-image: url("./imagenes/background1.jpg");
    color: white;
}
/*ESTILOS GENERALES DEL GRID*/
.grid{
    display: grid;
    width: 80vw;
    grid-template-areas: 
    'header header header header header header'
    'post1 post1 post1 post1 post1 sidebar'
    'post2 post2 post2 post2 post2 post2'
    'footer footer footer footer footer footer';
    margin: auto 10vw;
    gap: 0.3em;/* espacio entre rejillas podria hacer lo mismo con margin de los elementos*/
}
/*ESTILOS HEADER*/
.div_header{grid-area: header;}
.header{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    color: black;
}
.toggle_menu{
    display: none;
}
.header h1{
    font-size: 3rem;
    grid-column: 1/5;/* el contend ocupara de la linea 1 a la 5*/
}
.header img{
    grid-column: 5/7;/* espacio que ocupa en grid de 6 fr*/
    grid-row: 1/4;/* espacio que ocupa 
    en grid de 3fr*/
    width: 100%;
    justify-self: right;
}
.header h4{
    grid-column: 1/5;
    font-size: 1.5rem;
}
.nav-bar{ /* al usar > debe ser hijo directo*/
    display: block;
    background-color: #343a40;
    width: 100%;
}
.nav-bar  ul{/* la etiqueta caja ul seria el grid dentro del nav*/
    display: grid;
    font-size: 90%;
    list-style: none;
    grid-template-columns: repeat(5,auto);/* podria ser repeat(5,1fr) o 1fr 2fr 3fr*/
    grid-auto-rows: minmax(60px,auto);/*propiedad para controlar altura de las filas*/
    justify-items: center;
    align-items: center;
}
.nav-bar ul li a{ /* es  mejor especificar el orden de las etiquetas*/
    text-decoration: none;
    color: white;
}
header nav ul li a:hover {
    text-shadow: 3px 3px 3px #cccc;
    font-size: 1.2rem;}
/* ESTILOS MAIN*/
#span-mas{
    display: none;
}
.post1{
     grid-area: post1;
/*PONER LOS BLOQUES EN FILAS (QUITO <br> en html)
display: grid;
grid-template-columns:1fr 1fr ;
grid-auto-flow: row;*/ 
    width: 100%;
     background-color: white;
     color:#6c757d; 
     text-align: justify;   
     border-radius: 5px;
     padding: 0px 5% 0px 0px;
}
#boton-mas{
    text-decoration: none;
    color:#007bff ;
}

 .post1 h3,.post2 h3{
     color: #141d26;
     font-size: 2rem;
 }
 .post1 li{
     list-style: none;
 }
/* ESTILOS SIDEBAR*/

.sidebar{ 
grid-area: sidebar;
color: black;
background-color: white;
border-radius: 5px;
padding: 0px;
}
.sidebar img{
    max-width: 100%;/* Es el total del ancho de la FR del grid*/
    border-radius: 50%;
}
.contacto{
    width: 90%;
    margin: 0px 5%;

}
.sidebar input{
    width: 90%;
min-height: 20px;
border-radius: 5px;
}
.sidebar input[type="submit"]{
    background: #007bff;
    padding: 2%;
    font-size: 1rem;
    color: white;
    width: 20%;
    margin: 5% 10% auto 0;
    cursor: pointer;
    float: right;
}
/* ESTILOS POST2*/
.post2{
    grid-area: post2;
    width: 100%;
    background-color: white;
    color:#6c757d; 
    text-align: justify;   
    border-radius: 5px;
}
.post2 h5,.sidebar h3{
    margin: 0px 0px 1% 0px;
    background-color:#343a40 ;
    color: white;
    font-size: 1.2rem;
    border-radius: 5px;
    padding-left: 10px;
}
/* ESTILOS FOOTER*/
.footer{
    grid-area: footer;
    padding: 0px 8%;
    color:#343a40;
    text-align: center;
}
.footer a{
    border: 1px solid #141d26;
    border-radius: 5px;
    padding: 0px 1%;
    text-decoration: none;
    color: black;
    float:right;
}
/* MEDIA QUERIES*/
@media (max-width: 700px){
    body,.grid,.header{
        padding: 0px;
        display: grid;
    }
   .grid{
    width: 80%;
    margin: 0px 3vw;
    grid-template-areas: 
    'header'
    'sidebar'
    'post1'
    'post2'
    'footer';  
   }
   .header{
    grid-template-columns: 1fr ;
   }
   .header h1,.header img,.header h4 {
    grid-column: 1/6;
   }
  /* CAJA DEL MENU CON ICONO*/
.toggle_menu{
    display:block;
    width: 100%;
}
.bt-menu {/*Es la barra del menu*/
    display:block;
    position: relative;
    padding:20px;
    background:#343a40;
    color:#fff;
    text-decoration:none;
    font-weight: bold;
    border-radius: 5px;
}

/* NAV BAR*/
.nav-bar {
    display: none;
    margin:0.5% 0px;
    background: #343a404f;
    border-radius: 5px;
 }
 .nav-bar  ul,.nav-bar li,.nav-bar a {
    display:flex;
    flex-flow: column;
    font-size: 1.5rem;
}
/* IMAGEN DEL SIDEBAR*/
.sidebar img{
    max-width: 60vw;
    margin: 0px 20vw;
}

}
